*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #3b9f11;
  height: 100%;
  width: 100%;
}

.game-wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 200px));
  /* grid-template-rows: auto; */
  grid-auto-flow: column;
  grid-gap: 10rem;
  width: 100%;
  height: 50%;
  align-items: center;
  justify-content: center;
}

/* play Button */
.start-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #e5e8e5;
  color: rgb(234, 22, 22);
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1.2rem 1.5rem;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid rgb(128, 127, 127);
  position: relative;
  top: -100px;
}

.start-button:hover {
  background-color: rgb(218, 213, 213);
  color: #184505;
  top: -98px;
  box-shadow: 2px 5px #072d0e;
}

.start-button:active {
  box-shadow: none;
  top: -103px;
}

/* Buttons */
.button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Play Button */
.play-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
  background-color: #31ce56;
  color: rgb(20, 40, 20);
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.8rem 2rem;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid rgb(128, 127, 127);
  transition: all 0.3s ease-in-out;
  position: relative;
  box-shadow: #ebefeb 5px 5px 5px 1px;
  margin: 0 auto;
}

.play-button:hover {
  background-color: #5ce123;
  color: #333432;
  top: 3px;
  box-shadow: 2px 5px #06781b;
}

.play-button:active {
  box-shadow: none;
  top: 10px;
}

/*  Computer Deck  */
.computer-deck {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 55%;
  color: rgb(213, 223, 225);
  font-size: 6rem;
  font-weight: bold;
  visibility: hidden;
  border: 1px solid rgb(223, 217, 217);
  margin: 10rem auto;
  z-index: 1000;
  border-radius: 10px;
  background-color: rgba(47, 165, 215, 0.996);
  box-shadow: #17edf0 5px 5px 5px 1px;
}

/*  Player Deck  */
.player-Deck {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 55%;
  color: rgb(227, 214, 214);
  font-size: 6rem;
  font-weight: bold;
  visibility: hidden;
  border: 1px solid rgb(215, 213, 213);
  margin: 10rem auto;
  z-index: 1000;
  border-radius: 10px;
  background-color: rgb(215, 47, 47);
  box-shadow: #e88fc4 5px 5px 5px 1px;
}

/* diplay how many cards are out */
.played-Cards-title {
  color: rgb(223, 218, 218);
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  letter-spacing: 1px;
  text-align: center;
}

.played-cards-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: rgb(239, 231, 231);
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/*  container of the played cards */
.played-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

/*  played cards are the ones in the middle */
.played-cards {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(225, 223, 223);
  font-size: 6rem;
  font-weight: bold;
  cursor: pointer;
  padding: 4rem 2rem;
  margin: auto 0;
}

.card {
  position: absolute;
  border-radius: 0.5rem;
  box-shadow: 3px 4px 2px rgba(249, 248, 248, 0.5);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  padding: 4rem 3rem;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  border: 1px solid #cccdc8;
}

.card.red {
  background-color: #fff;
  color: #f00;
}

.card.black {
  background-color: #fff;
  color: #2a2929;
}

.card::before,
.card::after {
  position: absolute;
  content: attr(data-value);
  font-size: 1.1rem;
}

.card::before {
  top: 2px;
  left: 5px;
}

.card::after {
  bottom: 2px;
  right: 5px;
  transform: rotate(180deg);
}

@media (max-width: 1400px) {
  .game-wrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(10px, 150px));
    /* grid-template-rows: auto; */
    grid-auto-flow: column;
    grid-gap: 3rem;
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;
  }
}
